<a href="https://colab.research.google.com/github/Fabriciome/data-manipulation-exercises/blob/master/Resolu%C3%A7%C3%A3o_de_Exercicios_unidade_5_Manipulacao_de_Dados_Parte_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a biblioteca Pandas.\
Todos os datasets utilizados nos exercícios estão salvos na pasta *datasets*.\
Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

#### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.\
Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.\
Salve os dados em uma variável de nome *crime*.

In [377]:
import pandas as pd
crime = pd.read_csv('/content/US_Crime_Rates_1960_2014.csv')
crime.head()

   Year  Population    Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
0  1960   179323175  3384200  ...    912100        1855400         328200
1  1961   182992000  3488000  ...    949600        1913000         336000
2  1962   185771000  3752200  ...    994300        2089600         366800
3  1963   188483000  4109500  ...   1086400        2297800         408300
4  1964   191141000  4564600  ...   1213200        2514400         472800

[5 rows x 12 columns]

#### Tarefa 2. Qual o tipo de dados em cada coluna?

In [378]:
crime.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

#### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [379]:
pd.to_datetime(crime['Year'],format='%Y')

0    1960-01-01
1    1961-01-01
2    1962-01-01
3    1963-01-01
4    1964-01-01
5    1965-01-01
6    1966-01-01
7    1967-01-01
8    1968-01-01
9    1969-01-01
10   1970-01-01
11   1971-01-01
12   1972-01-01
13   1973-01-01
14   1974-01-01
15   1975-01-01
16   1976-01-01
17   1977-01-01
18   1978-01-01
19   1979-01-01
20   1980-01-01
21   1981-01-01
22   1982-01-01
23   1983-01-01
24   1984-01-01
25   1985-01-01
26   1986-01-01
27   1987-01-01
28   1988-01-01
29   1989-01-01
30   1990-01-01
31   1991-01-01
32   1992-01-01
33   1993-01-01
34   1994-01-01
35   1995-01-01
36   1996-01-01
37   1997-01-01
38   1998-01-01
39   1999-01-01
40   2000-01-01
41   2001-01-01
42   2002-01-01
43   2003-01-01
44   2004-01-01
45   2005-01-01
46   2006-01-01
47   2007-01-01
48   2008-01-01
49   2009-01-01
50   2010-01-01
51   2011-01-01
52   2012-01-01
53   2013-01-01
54   2014-01-01
Name: Year, dtype: datetime64[ns]

#### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [380]:
crime.set_index('Year',inplace=True)
crime.head()

      Population    Total  Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                ...
1960   179323175  3384200   288460  ...    912100        1855400         328200
1961   182992000  3488000   289390  ...    949600        1913000         336000
1962   185771000  3752200   301510  ...    994300        2089600         366800
1963   188483000  4109500   316970  ...   1086400        2297800         408300
1964   191141000  4564600   364220  ...   1213200        2514400         472800

[5 rows x 11 columns]

#### Tarefa 5. Remova a coluna Total do DataFrame.

In [381]:
sem_total = crime.drop(columns='Total')
sem_total.head()

      Population  Violent  Property  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                 ...
1960   179323175   288460   3095700  ...    912100        1855400         328200
1961   182992000   289390   3198600  ...    949600        1913000         336000
1962   185771000   301510   3450700  ...    994300        2089600         366800
1963   188483000   316970   3792500  ...   1086400        2297800         408300
1964   191141000   364220   4200400  ...   1213200        2514400         472800

[5 rows x 10 columns]

#### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [382]:
crime.Vehicle_Theft.loc[1978]

1004100

#### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [383]:
crime.loc[crime['Murder'] == crime.Murder.max()]

      Population     Total  Violent  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                 ...
1991   252177000  14872900  1911770  ...   3157200        8142200        1661700

[1 rows x 11 columns]

#### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [384]:
min_VT = crime.loc[crime['Vehicle_Theft'] == crime.Vehicle_Theft.min()]
min_VT.Murder

Year
1960    9110
Name: Murder, dtype: int64

**Parabéns! Você chegou ao fim**